.swiper-pagenation {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 3.2rem;
    height: max-content;
    margin: auto;
}
.swiper-pagination-bullet {
    display: block;
    width: 3px;
    height: 4rem;
    cursor: pointer;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    background-color: rgba(255, 255, 255, 0.4);
}