@use "../../globals.scss" as *;

.section {
  width: 100%;
  height: auto;
  background: url("/bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $wh;
  border-radius: 20px;
  width: 100%; // Adjusted to be responsive
  max-width: 1080px; // Added max-width to limit container size
  margin: 0 auto;
  padding: 40px 0;
  font-family: $noto;
}

.title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  line-height: 1.5;
  color: $bk;
}
.imgarea {
  padding: 20px;
}
.img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.textarea {
  padding: 20px;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: $bk;
  color: $wh;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

// Responsive styles
@media screen and (max-width: 768px) {
  .container {
    padding: 20px 0; // Adjusted padding for smaller screens
    max-width: 90%; // Adjusted max-width for smaller screens
  }

  .title {
    font-size: 30px; // Adjusted font size for smaller screens
  }

  .img {
    height: 300px; // Adjusted image height for smaller screens
  }

  .button {
    width: 150px; // Adjusted button width for smaller screens
  }
}
