@use "sass:math";

// colors
$wh: #FFFFFF;
$bk: #1F2329;
$blue: #0968E4;
$red: #BA1C22;

// font-family, font-weight
$noto: "noto-sans-cjk-jp", sans-serif;
$regular: 400;
$medium: 500;
$bold: 700;

// font
.c-mv-title {
    font-size: clamp(6rem, 8.75vw,12.6rem);
    font-weight: $bold;
    font-family: $noto;
    line-height: 1.5;
    letter-spacing: 2%;
    color: $bk;
}
.c-message-text {
    font-size: clamp(1.5rem, 1.25vw, 1.8rem);
    font-weight: $medium;
    font-family: $noto;
    line-height: 1.5;
    letter-spacing: 0.5%;
    color: $bk;
}
.c-message-title {
    font-size: clamp(3rem, 2.98vw, 4.3rem);
    font-weight: $bold;
    font-family: $noto;
    line-height: 100%;
    color: $bk;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}
.--wh {
    color: $wh;
}
.--bk {
    color: $bk;
}
.--blue {
    color: $blue;
}