@use "../globals.scss" as *;
.title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  line-height: 1.5;
  font-family: $noto;
  color: $bk;
}

.list {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #f2f4f5;
  word-break: break-all;
}

.list span {
  width: 30%;
  background-color: #f2f4f5;
  border: none;
  border-radius: 3px;
  padding: 15px 20px;
  font-size: 16px;
  color: #333;
  flex-grow: 1;
  word-break: break-all;
}

.name {
  display: flex;
  align-items: center;
  width: 250px;
  font-weight: bold;
  font-size: 16px;
}
.email {
  display: flex;
  align-items: center;
  width: 250px;
  font-weight: bold;
  font-size: 16px;
}
.message {
  display: flex;
  align-items: center;
  width: 250px;
  font-weight: bold;
  font-size: 16px;
}
.recaptcha {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.btn {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
.btnback {
  cursor: pointer;
  margin: 30px;
  padding: 15px 45px;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  background-color: #166ab5;
}

@media (max-width: 768px) {
  .list {
    flex-direction: column; /* 要素を縦並びに変更 */
  }

  .list span {
    width: auto; /* labelの幅を自動調整に */
    margin-bottom: 10px; /* labelとinputの間に余白を設定 */
    align-self: start;
  }

  .name,
  .email,
  .message {
    width: 100%; /* inputとtextareaを親要素の幅いっぱいに広げる */
  }
  .btnback {
    margin: 10px;
  }
}
