@use "../../globals.scss" as *;

.container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  padding-left: min(5.5vw, 8rem);
  padding-right: min(5.5vw, 8rem);
  max-width: 144rem;
  margin: 0 auto;
  font-family: $noto;
}
.titlearea {
  margin: 0 30px;
  text-align: left;
  display: inline-block;
}

.title {
  font-size: 4.5rem; // フォントサイズ
  font-weight: 700; // フォントウェイト
  min-height: 6rem; // この値はh1の行の高さに合わせて調整
  display: block; // h1タグのデフォルトはこれが通常ですが、明示的に設定
  width: 100%; // 全幅を取るように設定
  white-space: pre; // 改行やスペースをそのまま保持
}

.visible {
  visibility: visible; // テキストが表示されるとこのスタイルが適用される
}

.redLine {
  width: 0;
  height: 6px;
  background-color: $red;
  transform-origin: left; // 左端を基準に変形
  animation: expandLine 2s forwards; // アニメーションを2秒間で一度だけ実行
}

@keyframes expandLine {
  from {
    width: 0;
  }
  to {
    width: 100%; // 最終的には100%の幅に
  }
}

.content {
  margin: 0 auto;
  padding: 20px;
  background-color: $wh;
  border-radius: 10px;
  max-width: 60rem;
}

.award {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  padding: 1rem;
  border-bottom: 1px solid #f2f4f5;
}
.text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  flex: 1;
  padding: 20px;
}
