@use "../../globals.scss" as *;
.container {
    padding-top: 4rem;
    position: relative;
    overflow: hidden;
}
.bgBigCircle, .bgSmallCircle {
    position: absolute;
    top: -40rem;
    left: -35rem;
    opacity: 0.2;
    width: 160rem;
    height: 160rem;
    border-radius: 50%;
    border: 4rem solid $red;
}
.bgSmallCircle {
    transform: scale(.9);
}
.content {
    width: 144rem;
    height: 121.7rem;
    margin-left: calc((144rem - 100%) / -2);
    position: relative;
}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imgContainer {
    position: absolute;
    z-index: 3;
    border-radius: .4rem;
    overflow: hidden;
}
.firstImgContainer {
    width: 14.8rem;
    height: 14.8rem;
    top: 0;
    right: 55rem;
    background: url('/top/gallery/1.webp');
    background-size: 110%;
    background-position-x: center;
    background-repeat: no-repeat
}
.secondImgContainer {
    width: 44rem;
    height: 31.7rem;
    top: 2.4rem;
    right: 8rem;
    background: url('/top/gallery/2.webp');
    background-size: 110%;
    background-position-x: center;
    background-repeat: no-repeat
}
.thirdImgContainer {
    width: 30.7rem;
    height: 20.4rem;
    top: 20.9rem;
    left: 54.3rem;
    background: url('/top/gallery/3.webp');
    background-size: 110%;
    background-position-x: center;
    background-repeat: no-repeat
}
.fourthImgContainer {
    width: 96rem;
    height: 60rem;
    top: 48.9rem;
    right: 0rem;
    background: url('/top/gallery/4.webp');
    background-size: 110%;
    background-position-x: center;
    background-repeat: no-repeat
}
.fifthImgContainer {
    width: 41rem;
    height: 55.6rem;
    top: 35.1rem;
    left: 0rem;
    background: url('/top/gallery/5.webp');
    background-size: 110%;
    background-position-x: center;
    background-repeat: no-repeat
}