@import "../../globals.scss";
.container {
    padding-top: 12rem;
    padding-bottom: 16.4rem;
    padding-left: min(5.5vw, 8rem);
    padding-right: min(5.5vw, 8rem);
    max-width: 144rem;
    margin: 0 auto;
    @include sp {
        padding-top: 8rem;
        padding-bottom: 8rem;
        padding-left: min(calc(20 / 375 * 100vw), 2rem);
        padding-right: min(calc(20 / 375 * 100vw), 2rem);
    }
}

.title {
    text-align: center;
}

.content {
    padding: 8rem calc(120 / 1280 * 100%);
    margin-top: 4.8rem;
    border: solid 0.3rem $bk;
    display: flex;
    gap: calc(40 / 1280 * 100%);
    @include sp {
        flex-direction: column;
        padding: 4rem 2rem;
        gap: 4rem;
    }
}
.snsArea {
    width: 50%;
    @include sp {
        width: 100%;
        height: 44rem;
    }
}
.snsTitle {
    margin-bottom: 2.4rem;
    text-align: center;
    @include sp {
        margin-bottom: 1.6rem;
    }
}
